<p id="notice"><%= notice %></p>

<div>
  <div class="margin-bottom-sm">
    <h1 class="center">My lists of stuff</h1>
    <div class="row margin-bottom-large">
      <div class="margin-top-sm center">
        <ol class="main-list">
            <%= render @lists %>
        </ol>
      </div>
    </div> <!-- lists -->
    <div class="row margin-top-large margin-bottom-large">
      <div class="container-fluid center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
            <%= link_to "Create anoter list", new_list_path, class: "create-list" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
