<p id="notice"><%= notice %></p>

<div>
  <div class="margin-bottom-sm">
    <h1 class="center">My lists of stuff</h1>
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-4 margin-top-sm">
      <ol class="main-list">
          <%= render @lists %>
      </ol>
    </div>
    <div class="row margin-top-lg margin-bottom-large">
      <div class="container-fluid center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
            <%= link_to "Create a list", new_list_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
