<div class="center">
  <div class="margin-bottom-sm">
    <h1>What is this list about?</h1>
    <p>Your camping gear? Garage piles? Or apartment clutter?</p>
  </div>

  <%= render 'form', list: @list %>
</div>