<p id="notice"><%= notice %></p>

<div class="margin-bottom-sm">
  <div class="row center margin-bottom-md">
    <h1>What is this list about?</h1>
    <p>Your camping gear?  Garage piles?  Or apartment clutter?</p>
  </div>

  <%= render 'form', list: @list %>
</div>