<div class="container">
  <div class="row margin-top-large margin-bottom-large">
    <div class="container-fluid center">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
          <div class="hero-photo-text">
            <h1>What do I own?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-top-lg margin-bottom-large">
    <div class="container-fluid center">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
          <%= link_to "Create a list", create_list_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-top-lg margin-bottom-large">
  </div>
</div>


