<% provide(:title, "Learn More") %>

<div class="container">
  <div class="hero-photo-container">
    <div class="hero-photo-section" style="background-image: url(<%= asset_path 'coffee_meeting.jpg' %>) ">
    </div>
  </div>
</div>

