// colors.scss
// modules are for variables - colors, fonts, margins

$test-color: rgb(255, 51, 0);

$logo-color:  rgb(132,204,211); //light blue (#84CCD3)
$hover-color: rbg(123,223,242);  //dark blue (#7BDFF2)
$text-color:  rgb(73,73,73);    //dark grey
$background-color: #EFF7F6;     //light grey
$morning-sky: #cae4d8;          // morning sky (rgb(202,228,216))
$honey: #dcae1d;                // honey
$cerulean: #00303F;             // CERULEAN (dark blue)
$mist: #7a9d96;                 // MIST
$light-text-color: rgb(102, 102, 102); //light greay