.margin-top-large {
  margin-top: 2em;
}
.margin-top-md {
  margin-top: 1.5em;
}
.margin-top-sm {
  margin-top: 1em;
}
.margin-top-xsm {
  margin-top: 0.8em;
}
.margin-top-px-xsm {
  margin-top: 5px;
}

.margin-bottom-large {
  margin-bottom: 2em;
}
.margin-bottom-md {
  margin-bottom: 1.5em;
}
.margin-bottom-sm {
  margin-bottom: 1em;
}
.margin-bottom-xsm {
  margin-bottom: 0.8em;
}

.margin-left-large {
  margin-left: 2em;
}
.margin-left-sm {
  margin-left: 1.5em;
}

.margin-right-large {
  margin-right: 2em;
}
.margin-right-sm {
  margin-right: 1.5m;
}