.margin-top-large {
  margin-top: 2em;
}
.margin-top-sm {
  margin-top: 1.5em;
}
.margin-bottom-large {
  margin-bottom: 2em;
}
.margin-bottom-sm {
  margin-bottom: 1.5em;
}
.margin-bottom-xsm {
  margin-bottom: 5px;
}
.margin-left-large {
  margin-left: 2em;
}
.margin-legt-sm {
  margin-left: 1.5em;
}
.margin-right-large {
  margin-right: 2em;
}
.margin-right-sm {
  margin-right: 1.5m;
}