.ptl {
  padding-top: 2em;
}
.ptm {
  padding-top: 1em;
}
.pts {
  padding-top: 0.5em;
}

.pbl {
  padding-bottom: 2em;
}
.pbm {
  padding-bottom: 1em;
}
.pbs {
  padding-bottom: 0.5em;
}

.pll {
  padding-left: 2em;
}
.plm {
  padding-left: 1em;
}
.pls {
  padding-left: 0.5em;
}

.prl {
  padding-right: 2em;
}
.prm {
  padding-right: 1em;
}
.prs {
  padding-right: 0.5em;
}
