.ptxl {
  padding-top: 4em;
}
.ptl {
  padding-top: 2em;
}
.ptm {
  padding-top: 1em;
}
.pts {
  padding-top: 0.5em;
}

.pbl {
  padding-bottom: 2em;
}
.pbm {
  padding-bottom: 1em;
}
.pbs {
  padding-bottom: 0.5em;
}

.plxl {
  padding-left: 4em;
}
.pll {
  padding-left: 2em;
}
.plm {
  padding-left: 1em;
}
.pls {
  padding-left: 0.5em;
}

.prl {
  padding-right: 2em;
}
.prm {
  padding-right: 1em;
}
.prs {
  padding-right: 0.5em;
}

// zero padding
.plzero {
  padding-left: 0 !important;
}
.przero {
  padding-right: 0 !important;
}
.ptzero {
  padding-top: 0;
}
.pbzero {
  padding-bottom: 0;
}
