container-fluid {
  width: 85%;
  max-width: 1400px;
}

.center {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.container {
  margin-right: auto;
  margin-left: auto; 
}

.inline {
  display: inline-block;
}