
.center {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  /*max-width: 50%;*/
  flex: 1;
}