// partials for any banners or background colors

.banner {
  background-color: $gray-background;
  height: auto;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  position: relative; 
}

.banner-light {
  height: auto;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

// PHOTO SECTIONS

.hero-photo-container {
  height: auto;
  position: relative;
  display: block;
  margin: 0;
}

.hero-photo-section {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 30px;
}

.hero-photo-text-background {
  background-color: rgba(225,225,225,0.9);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: auto;
}

.thumbnail-photo-section {
  min-height: 345px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}

// LANDING PAGE SECTION

.hero-photo-landing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 850px;
  width: 100%;
  align-items: center;
  position: fixed;
}

.hero-overlay {
  height: 740px;
  margin-top: -24px;
  position: relative;
  width: 100%;

  h1 {
    color: white;
    margin-top: 10px;
  }
}

.m-create-list-bar {
  background-color: white;
  height: auto;
  padding: 20px;
  position: relative;
  width: 100%;
}

.m-login-bar {
  background-color: $light-text-color;
  height: auto;
  padding: 20px;
  position: relative;
  width: 100%;

  h2 {
    color: white;
  }
}

.light-grey-banner {
  height: 600px;
  position: relative;
  background-color: rgba(93, 92, 92, 0.48);

  .row {
    position: relative;
  }
}