// item tiles
.item-box {
  border: 1px solid #dbdbdb;
  border-left: 4px solid $mist;
  background-color: #EFF7F6;
  padding: 10px;
  width: 100%;
}

.item-action-size {
  width: 50px;
}
.item-category-size {
  width: 125px;
}

// list tiles

.m-list-goal-box {
  border-left: 4px solid $mist;
  background-color: $background-color;
  margin-bottom: 24px;
  padding: 24px;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto; 
}

.no-container {
  margin-right: -200px;
  margin-left: -200px;
}

.container-fluid {
  padding: 0;
}
// use to be: width: 85%
// max-width: 1400px

.photo-box-shadow {
-webkit-box-shadow: 1px 3px 8px 3px rgba(138,140,139,0.61);
-moz-box-shadow: 1px 3px 8px 3px rgba(138,140,139,0.61);
box-shadow: 1px 3px 8px 3px rgba(138,140,139,0.61);
}

.border-landing {
  border: 2px solid $gray-background;
  padding: 13px;
  font-size: 60px;
  line-height: 1em;
  text-align: center;
  color: white;
  display: inline-block;
  width: 180px;
  margin-top: 300px;
}