.btn-success {
  background-color: $logo-color;
  border-radius: 0;
  color: white;
  border: 1px solid $logo-color;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-success:hover {
  background-color: $morning-sky;
  border: 1px solid $morning-sky;
}

.btn {
  border-radius: 0;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-small {
  border-radius: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 0.85em;
}

.btn-landing {
  background-color: $text-color;
  color: white;
  border: none;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.2em;
  font-weight: 100;
}
.btn-landing:hover {
  background-color: $gray-background;
}

.color-circle {
  color: $logo-color;
}

.landing-color {
  color: $light-text-color;
}

.pointer {
  cursor: pointer;
}

.m-inherit-link {
  color: inherit;
  text-decoration: none;
}

.checklist {
  color: $logo-color;
}

.js-login-switch:hover {
  border-bottom: 2px solid $gray-background;
  margin-bottom: 8px;
}