.btn-success {
  background-color: $logo-color;
  border-radius: 0;
  color: white;
  border: 1px solid $logo-color;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-success:hover {
  background-color: $hover-color;
}

.btn {
  border-radius: 0;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-small {
  border-radius: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 0.85em;
}

.color-circle {
  color: $logo-color;
}

.pointer {
  cursor: pointer;
}

.m-inherit-link {
  color: inherit;
  text-decoration: none;
}