.item-search {
 border: none;
 border-bottom: 1px solid #999999;
 font-size: 14px;
 width: 250px;
 margin-bottom: 10px; 
 text-align: right;
}
.item-search:focus {
  outline: none;
}

.hidden {
  display: none;
}

.dropdown-menu {
  min-width: 112px;
  left: auto;
  border-radius: 0px;
  font-size: 13px;
}

.dropdown-menu li a {
  white-space: normal;
  padding: 3px 12px;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 12px;
}