.notice {
  background-color: $logo-color;
  height: auto;
  width: 100%;
  margin: auto;
  color: white;
  padding: 10px;
  text-align: center;
}

.success {
  background-color: $logo-color;
  height: auto;
  width: 100%;
  margin: auto;
  color: white;
  padding: 10px;
  text-align: center;
}

.alert {
  background-color: $honey;
  height: auto;
  width: 100%;
  margin: auto;
  color: white;
  padding: 10px;
  text-align: center;
}