.basic-form {
  label {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.2px;
    margin-bottom: -2px;
    display: inline-block;
  }

  form input {
    color: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  input[type=submit] {
      background-color: $logo-color;
      border: none;
      color: white;
      text-align: center;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
}

.small-form {
  label {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.2px;
    display: inline-block;
  }
  form input {
    color: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
  } 
  input[type=submit] {
    background-color: $logo-color;
    border: none;
    color: white;
    text-align: center;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
}

.item-form {
  label {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.2px;
    margin-bottom: -2px;
    display: inline;
  }
  form input {
    color: #666666;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
  }
  input[type="number"] {
    width: 60px;
  }
  input[type=submit] {
    background-color: $logo-color;
    color: white;
    height: 40px;
    width: 130px;
    border: none;
    text-align: center;
  }
  select {
    font-size: 14px;
    color: #666666;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    margin: 0;
    outline: 0;
    padding: 7px;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  }
}

.field {
  display: inline;
}

.check-box {
  display: inline-block;
  width: auto;
  height: auto;
}