.basic-form {
  label {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 1.2px;
    display: inline-block;
  }

  form input {
    color: #666666;
    border: 1px solid #dbdbdb;
    width: 100%;
    height: 45px;
    margin-bottom: 1.5em;
    outline: none;
    padding-left: 10px;
  }
  input[type=submit] {
    background-color: $gray-button;
    border: none;
    color: white;
    text-align: center;
    padding: 0;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
    margin-left: 0;
    height: 25px;
  }    
}

.small-form {
  label {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.2px;
    display: inline-block;
  }
  form input {
    color: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
  } 
  input[type=submit] {
    background-color: $gray-button;
    border: none;
    color: white;
    text-align: center;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
}

.item-form {
  label {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.2px;
    margin-bottom: -2px;
    display: inline;
  }
  form input {
    color: #666666;
    margin-bottom: 30px;
    font-size: 14px;
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
  }
  input[type="number"] {
    width: 60px;
  }
  input[type=submit] {
    background-color: $gray-button;
    color: white;
    height: 40px;
    width: 130px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
  }
  select {
    font-size: 14px;
    color: #666666;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    margin: 0;
    outline: 0;
    padding: 7px;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  }
}

.field {
  display: inline;
}

.check-box {
  display: inline;
  width: auto;
  height: auto;
}

.items-goal {
  border: none;
  width: 15px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px dotted;
}
.items-goal:focus {
  outline: none;
}

.overall-goal {
  border: none;
  //width: 22px;
  outline: none;
  cursor: pointer;
  background: #fafafa;
}
.overall-goal:focus {
  outline: none;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}