// partial for all lists 

ol {
  margin-left: -40px;
}

.main-list {
  list-style-type: none;
}

.main-list-item {
  font-size: 19px;
  p {
    display: inline;
    margin-right: 5px;
  }
  i {
    color: $logo-color;
  }
  a {
    color: $text-color;
    text-decoration-color: $logo-color;
    i {
      text-decoration: none;
    }
  }
}