<div class="footer navbar-bottom">
  <div class="container-fluid">
    <div class="footer-links">
      <%= link_to "Contact", contact_path %>
      <%= link_to "Placeholder", '#' %>
    </div>
  </div>
</div> <!--footer -->