<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="pull-left">
        <%= link_to "MinimaLists", root_path, class: "logo" %>
      </div>
      <div class="pull-right nav-links">
        <%= link_to "Learn More", learn_more_path %>
        <%= link_to "Login", '#' %>
      </div>
    </div>
  </div>
</nav> <!--navbar -->